body{
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

.outer{
    border: 20px solid rgb(10, 10, 10);
    border-radius: 10px;
    height: 570px;
    width: 220px;
    text-align: center;
    background-color: rgb(40, 40, 44);
    color: white;
    margin: auto;
}
.container{
    margin: 10px;
    text-align: center;
    margin: 5px;
}
.div2{
    text-align: center;
    padding-top: 20px;
   
    
    /* margin: 5px; */
    width: 5px;
    height: 10px;
}
#clr{
border: 2px solid rgb(141, 131, 131) ;
background-color: rgb(32, 34, 39);
margin-top: 10px;
}
#ok{
border: 2px solid rgb(141, 131, 131) ;
border-radius:7px;
padding: 5px;
}
 .div1>span{
    border-radius: 7px;
    background-color: rgb(34, 230, 34);
    border: 2px solid rgb(141, 131, 131);
    padding: 6px;
}
 .div3>span{
    border-radius: 7px;
    background-color: rgb(241, 13, 13);
    border: 2px solid rgb(141, 131, 131);
    padding: 6px;
}
#box-1{
    border: 2px solid rgb(141, 131, 131);
    border-radius: 10px;
    margin: 10px;
    background-color:  rgb(252, 252, 253);
    width: 200px;
    height: 200px;
}
#box-2{
    border: 2px solid rgb(141, 131, 131);
   
    border-radius: 10px;
    background-color:  rgb(40, 40, 44);
    display: flex;
    margin: 10px;
    padding-top: 10px;
    justify-content: space-around;
    width: 200px;
    height: 80px;
}
#box-2>div{
    /* border: 2px solid  rgb(141, 131, 131); */
    height: 50px;
    width: 50px;
   
    margin-top: 10px;
   
}
#box-3{
    border: 2px solid rgb(141, 131, 131);
    border-radius: 10px;
    background-color:  rgb(40, 40, 44);
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: auto;
}
#box-3>div{
    margin: 7px;
    padding: 7px 3px;
    border-radius: 15px;
    border: 2px solid green;
    color: blue;
    background-color: cadetblue;
    text-align: center;
      width: 40px;
    display: inline-block;
    justify-content: space-between;
    
}